spring:
  main:
    web-application-type: none

server:
  port: 0

emu:
  auth-url: http://localhost:8080
  cometd-url: http://localhost:8081/cometd
  room-service-channel: /service/room
  users:
    - name: USER1_NAME
      password: USER1_PASSWORD
    - name: USER2_NAME
      password: USER2_PASSWORD

logging:
  level:
    com.thex.chat.emu: INFO
