services:
  postgres:
    image: postgres
    container_name: auth-postgres
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
      PGDATA: /data/postgres
    ports:
      - "5432:5432"
    volumes:
      - /var/storage/docker/auth-postgres:/data/postgres
