spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: auth_user
    password: auth_pass
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

app:
  jwt:
    secret: CHANGE_ME_TO_A_SECURE_BASE64_SECRET_KEY_AT_LEAST_256_BITS_LONG_abc123
    expiration-ms: 86400000  # 24 hours

server:
  port: 8080
